---
swagger: '2.0'
info:
  version: 1.0.0
  title: Fact Check the News
  description: |
    #### Processes a URL to a news article or blog post and returns metadata that can be used to assess the trustworthiness of the content.
schemes:
  - https
consumes:
  - text/plain
produces:
  - application/json
host: api.factcheckthe.news
basePath: /v1
paths:
  /check:
    get:
      parameters:
        - name: url
          in: query
          description: Article URL
          required: true
          type: string
      responses:
        200:
          description: Metadata about the provided URL
          schema:
            $ref: '#/definitions/ContentScore'
definitions:
  ContentScore:
    type: object
    properties:
      url:
        type: string
      score:
        type: number
        format: float
      criteria:
        $ref: '#/definitions/ScoreCriteria'
  ScoreCriteria:
    type: object
    properties:
      opensources:
        $ref: '#/definitions/OpenSourcesCheck'
      https:
        $ref: '#/definitions/HTTPSCheck'
      deceptiveDomain:
        $ref: '#/definitions/DeceptiveDomainCheck'
      webOfTrust:
        $ref: '#/definitions/WebOfTrustCheck'
      capitalization:
        $ref: '#/definitions/CapitalizationCheck'
      punctuation:
        $ref: '#/definitions/PunctuationCheck'
      spelling:
        $ref: '#/definitions/SpellCheck'
      slander:
        $ref: '#/definitions/SlanderCheck'
  OpenSourcesCheck:
    type: object
    properties:
      flag:
        type: boolean
      type:
        type: string
      credible:
        type: string
  HTTPSCheck:
    type: boolean
  DeceptiveDomainCheck:
    type: boolean
  WebOfTrustCheck:
    type: object
    properties:
      reputation:
        type: number
      confidence:
        type: number
      description:
        type: string
      categories:
        type: array
        items:
          type: string
  CapitalizationCheck:
    type: object
    properties:
      title:
        type: object
        properties:
          flag:
            type: boolean
          uppercase:
            type: number
          percent:
            type: number
      content:
        type: object
        properties:
          flag:
            type: boolean
          uppercase:
            type: number
          percent:
            type: number
  PunctuationCheck:
    type: object
    properties:
      flag:
        type: boolean
      tokens:
        type: array
        items:
          type: string
  SpellCheck:
    type: boolean
  SlanderCheck:
    type: object
    properties:
      flag:
        type: boolean
      keywords:
        type: array
        items:
          type: object
          properties:
            term:
              type: string
            label:
              type: string